<!-- Modal window -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-modal" type="button" data-modal-close>
      <svg class="close-btn" width="20" height="20">
        <use href="./images/sprite.svg#close-btn-window"></use>
      </svg>
    </button>
    <div class="modal-img-clock">
      <picture class="modal-clock-pic">
        <!-- Descktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/buy-now/1clock_desc@1x.webp 1x,
            ./images/buy-now/1clock_desc@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/buy-now/1clock_desc@1x.jpg 1x,
            ./images/buy-now/1clock_desc@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 767px)"
          srcset="
            ./images/buy-now/1clock_tab@1x.webp 1x,
            ./images/buy-now/1clock_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 767px)"
          srcset="
            ./images/buy-now/1clock_tab@1x.jpg 1x,
            ./images/buy-now/1clock_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/buy-now/1clock_mob@1x.webp 1x,
            ./images/buy-now/1clock_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/buy-now/1clock_mob@1x.jpg 1x,
            ./images/buy-now/1clock_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="modal-clock"
          src="./images/buy-now/1clock_mob@1x.jpg"
          alt="clock"
        />
      </picture>
      <div class="modal-clock-text">
        <strong class="modal-wind-title">
          Tube Watch S42 Date Steel With Black Case
        </strong>
        <p class="modal-wind-cost">&#8364;395</p>
      </div>
    </div>
    <form class="modal-wind-form">
      <div class="modal-wind-field">
        <label class="modal-wind-label" for="usname">Full name</label>
        <input
          class="modal-wind-input"
          type="text"
          name="username"
          id="usname"
          required
          placeholder="Enter your full name"
        />
      </div>
      <div class="modal-wind-field">
        <label class="modal-wind-label" for="usemail">Email</label>
        <input
          class="modal-wind-input"
          type="email"
          name="email"
          id="usemail"
          required
          placeholder="Enter your email"
        />
      </div>
      <div class="modal-wind-field">
        <label class="modal-wind-label" for="uscard">Card number</label>
        <input
          class="modal-wind-input"
          type="text"
          name="card-num"
          placeholder="Enter card"
          size="18"
          id="uscard"
          minlength="16"
          maxlength="16"
        />
      </div>
      <div class="modal-wind-field">
        <label class="modal-wind-label" for="usmessage"> Comments</label>
        <textarea
          class="modal-wind-text"
          name="feedback"
          rows="8"
          placeholder="Enter your text"
          id="usmessage"
        ></textarea>
      </div>
      <button class="btn-sub" type="submit">SUBMIT</button>
      <span class="modal-wind-desc">
        By clicking on &#8220;Submit&#8221; button, you agree to our
        <a class="modal-wind-link" href="">Privacy Policy</a>, and allow Promodo
        to use this information for marketing purposes.
      </span>
    </form>
  </div>
</div>
