<!-- Modal window -->
<div class="backdrop" data-modal>
  <div class="modal">
    <button class="close-modal" type="button" data-modal-close>
      <svg class="close-btn" width="10" height="10">
        <use href="../images/sprite.svg#close-btn-window"></use>
      </svg>
    </button>
    <div>
      <h3 class="modal-wind-title">
        Tube Watch S42 Date Steel With Black Case
      </h3>
      <p class="modal-wind-info">&#8364;395</p>
      <picture>
        <source
          srcset="
            ../images/buy-now/1clock_mob@1x.jpg 1x,
            ../images/buy-now/1clock_mob@2x.jpg 2x
          "
        />
        <img src="../images/buy-now/1clock_mob@1x.jpg" alt="clock" />
      </picture>
    </div>
    <div>
      <form class="modal-wind-form">
        <div class="modal-wind-field">
          <label class="modal-wind-label" for="usname">Full name</label>
          <input
            class="modal-wind-input"
            type="text"
            name="username"
            id="usname"
            required
            placeholder="Enter your full name"
          />
        </div>
        <div class="modal-wind-field">
          <label class="modal-wind-label" for="usemail">Email</label>
          <input
            class="modal-wind-input"
            type="email"
            name="email"
            id="usemail"
            required
            placeholder="Enter your email"
          />
        </div>
        <div class="modal-wind-field">
          <label class="modal-wind-label" for="uscard">Card number</label>
          <input
            class="modal-wind-input"
            type="text"
            name="card-num"
            placeholder="Enter card"
            size="18"
            id="uscard"
            minlength="16"
            maxlength="16"
          />
        </div>
        <div class="modal-wind-field">
          <label class="modal-wind-label">
            Comments
            <textarea name="feedback" rows="5" placeholder="Enter your text">
            </textarea>
          </label>
        </div>
        <button type="submit">Submit</button>
        <div class="modal-wind-field">
          <span class="modal-wind-desc">
            By clicking on "Submit" button, you agree to our
            <a class="modal-wind-link" href="">Privacy Policy</a>, and allow
            Promodo to use this information for marketing purposes.
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/modal.js"></script>
