<section class="section catalog-sect">
  <div class="container catalog-cont">
    <h2 class="catalog-name my-element" id="catalog">Catalog</h2>
    <ul class="catalog-menu">
      <li class="catalog-item">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/first@1x.webp 1x,
                  ./images/catalog/first@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/first@1x.jpg 1x,
                  ./images/catalog/first@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/first@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs width">
            <p class="catalog-describe">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <span class="catalog-price my-element">&#8364;395</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/second@1x.webp 1x,
                  ./images/catalog/second@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/second@1x.jpg 1x,
                  ./images/catalog/second@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/second@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs width">
            <p class="catalog-describe">Avondale Watch Police For Men</p>
            <span class="catalog-price my-element">&#8364;800</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/third@1x.webp 1x,
                  ./images/catalog/third@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/third@1x.jpg 1x,
                  ./images/catalog/third@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/third@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs width">
            <p class="catalog-describe">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <span class="catalog-price my-element">&#8364;600</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/fourth@1x.webp 1x,
                  ./images/catalog/fourth@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/fourth@1x.jpg 1x,
                  ./images/catalog/fourth@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/fourth@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs width">
            <p class="catalog-describe">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <span class="catalog-price my-element">&#8364;1400</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/fifth@1x.webp 1x,
                  ./images/catalog/fifth@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/fifth@1x.jpg 1x,
                  ./images/catalog/fifth@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/fifth@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs width">
            <p class="catalog-describe">Taman Watch By Police For Men</p>
            <span class="catalog-price my-element">&#8364;500</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/sixth@1x.webp 1x,
                  ./images/catalog/sixth@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/sixth@1x.jpg 1x,
                  ./images/catalog/sixth@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/sixth@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs">
            <p class="catalog-describe">Malawi Watch Police For Men</p>
            <span class="catalog-price my-element">&#8364;555</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/seventh@1x.webp 1x,
                  ./images/catalog/seventh@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/seventh@1x.jpg 1x,
                  ./images/catalog/seventh@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/seventh@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs">
            <p class="catalog-describe">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <span class="catalog-price my-element">&#8364;1200</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/eight@1x.webp 1x,
                  ./images/catalog/eight@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/eight@1x.jpg 1x,
                  ./images/catalog/eight@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/eight@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>

            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs">
            <p class="catalog-describe">Greenlane Watch By Police For Men</p>
            <span class="catalog-price my-element">&#8364;1000</span>
          </div>
        </a>
      </li>

      <!-- New watches only for deskstop-->

      <li class="catalog-item hid">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/9@1x.webp 1x,
                  ./images/catalog/9@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/9@1x.jpg 1x,
                  ./images/catalog/9@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/9@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs width">
            <p class="catalog-describe">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <span class="catalog-price my-element">&#8364;359</span>
          </div>
        </a>
      </li>
      <li class="catalog-item hid">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/10@1x.webp 1x,
                  ./images/catalog/10@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/10@1x.jpg 1x,
                  ./images/catalog/10@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/10@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs width">
            <p class="catalog-describe">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <span class="catalog-price my-element">&#8364;400</span>
          </div>
        </a>
      </li>
      <li class="catalog-item hid">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/11@1x.webp 1x,
                  ./images/catalog/11@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/11@1x.jpg 1x,
                  ./images/catalog/11@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/11@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs width">
            <p class="catalog-describe">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <span class="catalog-price my-element">&#8364;519</span>
          </div>
        </a>
      </li>
      <li class="catalog-item hid">
        <a href="" class="link-hover">
          <div class="cat-list-link-wrapper">
            <picture>
              <source
                srcset="
                  ./images/catalog/12@1x.webp 1x,
                  ./images/catalog/12@2x.webp 2x
                "
                type="img/webp"
              />
              <source
                srcset="
                  ./images/catalog/12@1x.jpg 1x,
                  ./images/catalog/12@2x.jpg 2x
                "
                type="img/jpg"
              />
              <img
                class="catalog-img"
                src="./images/catalog/12@1x.jpg"
                alt="retina-picture"
                width="276"
                height="274"
              />
            </picture>
            <svg class="catalog-icon catalog-item-icon" width="24" height="24">
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <svg
              class="catalog-icon catalog-overflow-icon"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#heart"></use>
            </svg>
            <div class="overflov">
              <p class="overflow-subtitle">DESCRIPTION</p>
              <p class="overflow-description over-descr">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <p class="overflow-subtitle">DETAILS &#38; FEATURESTION</p>
              <ul class="overflow-description overflow-list">
                <li class="overflow-item">Gender: man</li>
                <li class="overflow-item">Size: 46&#215;54.5mm</li>
                <li class="overflow-item">Case Colour: Steel</li>
                <li class="overflow-item">Band Material: Metal</li>
                <li class="overflow-item">Case Material: Metal</li>
                <li class="overflow-item">Features: Multifunction</li>
                <li class="overflow-item">Water Resistant: 5 (ATM)</li>
                <li class="overflow-item">Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="costs width">
            <p class="catalog-describe">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <span class="catalog-price my-element">&#8364;400</span>
          </div>
        </a>
      </li>
    </ul>
    <button class="button catalog-button" type="button" data-modal-open>
      BUY NOW
    </button>
  </div>
</section>
