<footer class="section footer">
  <div class="container footer-wrapper">
    <div class="footer-all-items-thumb">
      <div class="footer-content-thumb">
        <div class="logo-adress-thumb">
          <a href="./index.html">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/footer-logo/logo-footer-small-x1.webp 1x,
                  ./images/footer-logo/logo-footer-small-x2.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/footer-logo/logo-footer-big-x1.webp 1x,
                  ./images/footer-logo/logo-footer-big-x2.webp 2x
                "
              />
              <img
                src="./images/footer-logo/logo-footer-big-x1.webp"
                alt="logo"
                class="footer-logo"
              />
            </picture>
          </a>

          <address>
            <ul class="list contact-list">
              <li class="contact-list-item">
                <a href="tel:+380684439426" class="contact link"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="contact-list-item">
                <a
                  href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/data=!4m2!3m1!1s0x8752f35b0826d399:0x2b26230524fd3ca3?sa=X&ved=2ahUKEwjHlayQr8z-AhWi8rsIHVp2BFQQ8gF6BAgLEAI"
                  class="contact link"
                  target="_blank"
                  rel="noopener noreferrer"
                  >1678 S. Pioneer Road Salt Lake City UT 84104</a
                >
              </li>
            </ul>
          </address>
        </div>
        <ul class="footer-menu list">
          <li class="footer-menu-li">
            <a href="#about" class="link footer-menu-item">About us</a>
          </li>
          <li class="footer-menu-li">
            <a href="#catalog" class="link footer-menu-item">Catalog</a>
          </li>
          <li class="footer-menu-li">
            <a href="#sale" class="link footer-menu-item">Sale</a>
          </li>
        </ul>
      </div>
      <ul class="social-list list">
        <li class="social">
          <a
            href="https://facebook.com/"
            class="footer-sotial-box"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="24" height="24" aria-label="facebook">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social">
          <a
            href="https://instagram.com/"
            class="footer-sotial-box"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="24" height="24" aria-label="instagram">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social">
          <a
            href="https://youtube.com/"
            class="link footer-sotial-box"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="24" height="24" aria-label="youtube">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-info">
      <p class="rights">&#169;2022 The Watch Spot. All rights reserved.</p>
      <ul class="list conditions">
        <li class="condition">
          <p class="condition-box link">Privacy Policy</p>
        </li>
        <li class="condition">
          <p class="condition-box link">Terms of Service</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
