<footer class="section footer">
  <div class="container footer-wrapper">
    <div class="footer-all-items-thumb">
      <div class="footer-content-thumb">
        <div class="logo-adress-thumb">
          <svg width="40" height="40" class="footer-logo">
            <use href="../images/sprite.svg#icon-big-logo"></use>
          </svg>
          <address>
            <ul class="list contact-list">
              <li class="contact-list-item">
                <a href="tel:+380684439426" class="contact link"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="contact-list-item">
                <a href="" class="contact link"
                  >1678 S. Pioneer Road Salt Lake City UT 84104</a
                >
              </li>
            </ul>
          </address>
        </div>
        <ul class="footer-menu list">
          <li class="footer-menu-li">
            <a href="../index.html" class="link footer-menu-item">About us</a>
          </li>
          <li class="footer-menu-li">
            <a href="../index.html" class="link footer-menu-item">Catalog</a>
          </li>
          <li class="footer-menu-li">
            <a href="../index.html" class="link footer-menu-item">Sale</a>
          </li>
        </ul>
      </div>
      <ul class="social-list list">
        <li class="social">
          <a
            href="https:/facebook.com footer-sotial-box"
            class="footer-sotial-box"
          >
            <svg width="24" height="24">
              <use href="../images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social">
          <a href="https://instagram.com" class="footer-sotial-box">
            <svg width="24" height="24">
              <use href="../images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social">
          <a href="https://youtube.com" class="link footer-sotial-box">
            <svg width="24" height="24">
              <use href="../images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <p class="rights">©2022 The Watch Spot. All rights reserved.</p>
    <ul class="list conditions">
      <li class="condition">
        <a href="../index.html" class="condition-box link">Privacy Policy</a>
      </li>
      <li class="condition">
        <a href="../index.html" class="condition-box link">Terms of Service</a>
      </li>
    </ul>
  </div>
</footer>
