<header class="header">
  <div class="header-wrapper container">
    <a class="header-logo" href="../index.html">
      <img src="../images/header-logo.svg" alt="header logo" width="19" height="19"><span>thewatchspot</span></a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#about">About us</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#sale">Sale</a>
        </li>
      </ul>
    </nav>
    <address class="address-nav">
      <ul class="address-list">
        <li class="address-item">
          <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </li>
      </ul>
    </address>

  </div>

</header>