<section class="hero section">
  <div class="container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <ul class="swiper">
      <li class="swiper-slide">
        <img src="" alt="" class="swiper-slide-img" />
      </li>
      <li class="swiper-slide">
        <img src="" alt="" class="swiper-slide-img" />
      </li>
      <li class="swiper-slide">
        <img src="" alt="" class="swiper-slide-img" />
      </li>
      <li class="swiper-slide">
        <img src="" alt="" class="swiper-slide-img" />
      </li>
      <li class="swiper-slide">
        <img src="" alt="" class="swiper-slide-img" />
      </li>
    </ul>

    <!-- <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
      </div>
    </div> -->

    <div class="swiper-buttons">
      <button class="swiper-btn-prev">
        <svg class="swiper-btn-icon" width="32" height="32">
          <use href="../images/sprite.svg#slider-btn-prev"></use>
        </svg>
      </button>
      <button class="swiper-button-next">
        <svg class="swiper-btn-icon" width="32" height="32">
          <use href="../images/sprite.svg#slider-btn-next"></use>
        </svg>
      </button>
    </div>
    <p class="hero-desc">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="hero-img-thumb">
      <img class="hero-img" src="" alt="" />
    </div>
  </div>
</section>
