<section class="hero section">
  <div class="container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            src="../images/hero/slider-1_226.png"
            alt=""
            class="swiper-slide-img"
          />
        </li>
        <li class="swiper-slide">
          <img
            src="../images/hero/slider-2_226.png"
            alt=""
            class="swiper-slide-img"
          />
        </li>
        <li class="swiper-slide">
          <img
            src="../images/hero/slider-3_226.png"
            alt=""
            class="swiper-slide-img"
          />
        </li>
        <li class="swiper-slide">
          <img
            src="../images/hero/slider-4_226.png"
            alt=""
            class="swiper-slide-img"
          />
        </li>
        <li class="swiper-slide">
          <img
            src="../images/hero/slider-5_226.png"
            alt=""
            class="swiper-slide-img"
          />
        </li>
      </ul>
    </div>

    <div class="swiper-buttons">
      <button class="swiper-btn-prev">
        <svg class="swiper-btn-icon" width="32" height="32">
          <use href="../images/sprite.svg#slider-btn-prev"></use>
        </svg>
      </button>
      <button class="swiper-button-next">
        <svg class="swiper-btn-icon" width="32" height="32">
          <use href="../images/sprite.svg#slider-btn-next"></use>
        </svg>
      </button>

      <div class="swiper-pagination">
        <span class="swiper-pagination-number">01</span>
        <span class="swiper-pagination-number">02</span>
        <span class="swiper-pagination-number">03</span>
        <span class="swiper-pagination-number">04</span>
        <span class="swiper-pagination-number">05</span>
      </div>
    </div>
    <p class="hero-desc">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="hero-img-thumb">
      <img
        class="hero-img"
        src="../images/hero/hero_mob@1x.jpg"
        alt="Watch on a wrist"
      />
    </div>
  </div>

  <!-- <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide-img" src="" alt="" />
        </div>
      </div>
    </div> -->
</section>
