<section class="hero section">
  <div class="hero-container container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="hero-wrapper">
      <div class="swiper mySwiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/hero/slider-1_226.webp 226w,
                  ./images/hero/slider-1_348.webp 348w,
                  ./images/hero/slider-1_452.webp 452w,
                  ./images/hero/slider-1_696.webp 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                type="image/webp"
              />
              <img
                class="swiper-slide-img"
                srcset="
                  ./images/hero/slider-1_226.png 226w,
                  ./images/hero/slider-1_348.png 348w,
                  ./images/hero/slider-1_452.png 452w,
                  ./images/hero/slider-1_696.png 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                src="./images/hero/slider-1_226.png"
                alt="Dark green wristwatch"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/hero/slider-2_226.webp 226w,
                  ./images/hero/slider-2_348.webp 348w,
                  ./images/hero/slider-2_452.webp 452w,
                  ./images/hero/slider-2_696.webp 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                type="image/webp"
              />
              <img
                class="swiper-slide-img"
                srcset="
                  ./images/hero/slider-2_226.png 226w,
                  ./images/hero/slider-2_348.png 348w,
                  ./images/hero/slider-2_452.png 452w,
                  ./images/hero/slider-2_696.png 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                src="./images/hero/slider-2_226.png"
                alt="Wristwatch with black watch strap"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/hero/slider-3_226.webp 226w,
                  ./images/hero/slider-3_348.webp 348w,
                  ./images/hero/slider-3_452.webp 452w,
                  ./images/hero/slider-3_696.webp 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                type="image/webp"
              />
              <img
                class="swiper-slide-img"
                srcset="
                  ./images/hero/slider-3_226.png 226w,
                  ./images/hero/slider-3_348.png 348w,
                  ./images/hero/slider-3_452.png 452w,
                  ./images/hero/slider-3_696.png 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                src="./images/hero/slider-3_226.png"
                alt="Steel wristwatch"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/hero/slider-4_226.webp 226w,
                  ./images/hero/slider-4_348.webp 348w,
                  ./images/hero/slider-4_452.webp 452w,
                  ./images/hero/slider-4_696.webp 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                type="image/webp"
              />
              <img
                class="swiper-slide-img"
                srcset="
                  ./images/hero/slider-4_226.png 226w,
                  ./images/hero/slider-4_348.png 348w,
                  ./images/hero/slider-4_452.png 452w,
                  ./images/hero/slider-4_696.png 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                src="./images/hero/slider-4_226.png"
                alt="Wristwatch with black watch strap"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/hero/slider-5_226.webp 226w,
                  ./images/hero/slider-5_348.webp 348w,
                  ./images/hero/slider-5_452.webp 452w,
                  ./images/hero/slider-5_696.webp 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                type="image/webp"
              />
              <img
                class="swiper-slide-img"
                srcset="
                  ./images/hero/slider-5_226.png 226w,
                  ./images/hero/slider-5_348.png 348w,
                  ./images/hero/slider-5_452.png 452w,
                  ./images/hero/slider-5_696.png 696w
                "
                sizes="(min-width: 768px) 348px, (max-width: 767px) 226px, 100vw"
                src="./images/hero/slider-5_226.png"
                alt="Steel wristwatch"
              />
            </picture>
          </li>
        </ul>
        <div class="swiper-controls">
          <ul class="swiper-buttons">
            <li class="swiper-buttons-item">
              <button class="swiper-btn swiper-btn-prev" type="button">
                <svg class="swiper-btn-icon">
                  <use href="./images/sprite.svg#slider-btn-prev"></use>
                </svg>
              </button>
            </li>
            <li class="swiper-buttons-item">
              <button class="swiper-btn swiper-btn-next" type="button">
                <svg class="swiper-btn-icon">
                  <use href="./images/sprite.svg#slider-btn-next"></use>
                </svg>
              </button>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <p class="hero-desc">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
      <picture>
        <source
          srcset="
            ./images/hero/hero_mob@1x.webp   335w,
            ./images/hero/hero_mob@2x.webp   670w,
            ./images/hero/hero_desk@1x.webp  676w,
            ./images/hero/hero_tab@1x.webp   704w,
            ./images/hero/hero_desk@2x.webp 1352w,
            ./images/hero/hero_tab@2x.webp  1408w
          "
          sizes="(min-width: 1280px) 676px, (min-width: 768px) 704px, (max-width: 767px) 335px"
          type="image/webp"
        />
        <img
          class="hero-img"
          srcset="
            ./images/hero/hero_mob@1x.jpg   335w,
            ./images/hero/hero_mob@2x.jpg   670w,
            ./images/hero/hero_desk@1x.jpg  676w,
            ./images/hero/hero_tab@1x.jpg   704w,
            ./images/hero/hero_desk@2x.jpg 1352w,
            ./images/hero/hero_tab@2x.jpg  1408w
          "
          sizes="(min-width: 1280px) 676px, (min-width: 768px) 704px, (max-width: 767px) 335px"
          src="./images/hero/hero_mob@1x.jpg"
          alt="Watch on a wrist"
        />
      </picture>
    </div>
  </div>
</section>
