<!--section Sale-->
<section class="section sale">
  <div class="container">
    <h2 class="sale-title my-element" id="sale">Sale</h2>
    <div class="sale-wrapper">
      <div class="block-photos">
        <ul class="sale-list">
          <li class="item">
            <picture>
              <!--Desktop screen-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/sale/webp/image-1_desk@1x.webp 1x,
                  ./images/sale/webp/image-1_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/sale/PNG/image-1_desk@1x.png 1x,
                  ./images/sale/PNG/image-1_desk@2x.png 2x
                "
                type="image/png"
              />
              <!--Tablet screen-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/webp/image-1_tab@1x.webp 1x,
                  ./images/sale/webp/image-1_tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/PNG/image-1_tab@1x.png 1x,
                  ./images/sale/PNG/image-1_tab@2x.png 2x
                "
                type="image/png"
              />
              <!--Mobile screen-->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/sale/webp/image-1_mob@1x.webp 1x,
                  ./images/sale/webp/image-1_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/sale/PNG/image-1_mob@1x.png 1x,
                  ./images/sale/PNG/image-1_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/sale/PNG/image-1_mob@1x.png"
                alt="black POLICE watch"
              />
            </picture>
          </li>
          <li class="item">
            <picture>
              <!--Desktop screen-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/sale/webp/image-2_desk@1x.webp 1x,
                  ./images/sale/webp/image-2_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/sale/PNG/image-2_desk@1x.png 1x,
                  ./images/sale/PNG/image-2_desk@2x.png 2x
                "
                type="image/png"
              />
              <!--Tablet screen-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/webp/image-2_tab@1x.webp 1x,
                  ./images/sale/webp/image-2_tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/PNG/image-2_tab@1x.png 1x,
                  ./images/sale/PNG/image-2_tab@2x.png 2x
                "
                type="image/png"
              />
              <!--Mobile screen-->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/sale/webp/image-2_mob@1x.webp 1x,
                  ./images/sale/webp/image-2_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/sale/PNG/image-2_mob@1x.png 1x,
                  ./images/sale/PNG/image-2_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/sale/PNG/image-2_mob@1x.png"
                alt="black POLICE watch"
              />
            </picture>
          </li>
          <li class="item">
            <picture>
              <!--Desktop screen-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/sale/webp/image-3_desk@1x.webp 1x,
                  ./images/sale/webp/image-3_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/sale/PNG/image-3_desk@1x.png 1x,
                  ./images/sale/PNG/image-3_desk@2x.png 2x
                "
                type="image/png"
              />
              <!--Tablet screen-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/webp/image-3_tab@1x.webp 1x,
                  ./images/sale/webp/image-3_tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/PNG/image-3_tab@1x.png 1x,
                  ./images/sale/PNG/image-3_tab@2x.png 2x
                "
                type="image/png"
              />
              <!--Mobile screen-->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/sale/webp/image-3_mob@1x.webp 1x,
                  ./images/sale/webp/image-3_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/sale/PNG/image-3_mob@1x.png 1x,
                  ./images/sale/PNG/image-3_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/sale/PNG/image-3_mob@1x.png"
                alt="black POLICE watch"
              />
            </picture>
          </li>
          <li class="item">
            <picture>
              <!--Desktop screen-->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/sale/webp/image-4_desk@1x.webp 1x,
                  ./images/sale/webp/image-4_desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/sale/PNG/image-4_desk@1x.png 1x,
                  ./images/sale/PNG/image-4_desk@2x.png 2x
                "
                type="image/png"
              />
              <!--Tablet screen-->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/webp/image-4_tab@1x.webp 1x,
                  ./images/sale/webp/image-4_tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/PNG/image-4_tab@1x.png 1x,
                  ./images/sale/PNG/image-4_tab@2x.png 2x
                "
                type="image/png"
              />
              <!--Mobile screen-->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/sale/webp/image-4_mob@1x.webp 1x,
                  ./images/sale/webp/image-4_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/sale/PNG/image-4_mob@1x.png 1x,
                  ./images/sale/PNG/image-4_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/sale/PNG/image-4_mob@1x.png"
                alt="black POLICE watch"
              />
            </picture>
          </li>
        </ul>
        <picture class="big-photo">
          <!--Desktop screen-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/sale/webp/image-5_desk@1x.webp 1x,
              ./images/sale/webp/image-5_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/sale/PNG/image-5_desk@1x.png 1x,
              ./images/sale/PNG/image-5_desk@2x.png 2x
            "
            type="image/png"
          />
          <!--Tablet screen-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/sale/webp/image-5_tab@1x.webp 1x,
              ./images/sale/webp/image-5_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/sale/PNG/image-5_tab@1x.png 1x,
              ./images/sale/PNG/image-5_tab@2x.png 2x
            "
            type="image/png"
          />
          <!--Mobile screen-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/sale/webp/image-5_mob@1x.webp 1x,
              ./images/sale/webp/image-5_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/sale/PNG/image-5_mob@1x.png 1x,
              ./images/sale/PNG/image-5_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/sale/PNG/image-5_mob@1x.png"
            alt="black POLICE watch"
          />
        </picture>
      </div>
      <div class="sale-info">
        <div class="sale-info-wrapper">
          <h3 class="description-title">Greenlane Watch By Police For MenHT</h3>
          <p class="sale-description">Product tag: PEWJK2227003</p>
          <div class="price-blok">
            <p class="new-price">&#8364;700</p>
            <p class="old-price">&#8364;1000</p>
          </div>
        </div>
        <div class="sale-info-wrapper">
          <h4 class="sale-subtitle">Description</h4>
          <p class="sale-description description-watch correction">
            Richly detailed with an understated design - the Police Men&#39;s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <h4 class="sale-subtitle">DETAILS &#38; FEATUREStion</h4>
        <ul class="sale-description description-watch">
          <li class="item">Gender: man</li>
          <li class="item">Size: 46&#215;54.5mm</li>
          <li class="item">Case Colour: Steel</li>
          <li class="item">Band Material: Metal</li>
          <li class="item">Case Material: Metal</li>
          <li class="item">Features: Multifunction</li>
          <li class="item">Water Resistant: 5 (ATM)</li>
          <li class="item">Band Colour: Steel</li>
        </ul>
      </div>
    </div>
  </div>
</section>
