/* MOBILE FIRST 375*/

.about-title {
  font-size: 32px;
  line-height: calc(40 / 32);
  letter-spacing: -0.02em;
  color: #1e2827;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .about-list {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .about-first {
    margin-left: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .about-first {
    width: 892px;
  }
}

@media only screen and (max-width: 767px) {
  .about-text-item {
    margin-bottom: 20px;
  }
}

.about-gif {
  max-width: 335px;
  width: 100%;
  height: 365px;
  object-fit: cover;
}

/* TABLET from 768 */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .about-title {
    font-size: 40px;
    margin-bottom: 0;
  }

  .about-text-item:last-child {
    min-width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .about-gif {
    max-width: 704px;
    height: 465px;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: nowrap;
    width: 490px;
    gap: 20px;
  }
}

/* DESK from 1280*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 52px;
    padding-right: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .about-container {
    /* column-gap: 110px; */
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
  .about-title {
    font-size: 40px;
    font-weight: 600;
    line-height: calc(44 / 40);
    margin-right: auto;
    margin-bottom: 0;
  }

  .about-list {
    display: flex;
    flex-wrap: nowrap;
    width: 859px;
    gap: 40px;
    margin-bottom: 40px;
  }

  .about-text-item {
    width: 439px;
  }

  .about-text-item:last-child {
    width: 380px;
  }

  .about-gif {
    max-width: 892px;
    height: 500px;
    margin-left: auto;
  }

  .about-second {
    margin-left: auto;
  }
}

