:root {
  --color-dark-green: #1e2827;

  --color-black: #141414;
  --color-white: #ffffff;
  scroll-behavior: smooth;

  --primary-font: 'Epilogue', sans-serif;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);

  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(18 / 14);

  letter-spacing: -0.02em;
}

@media only screen and (max-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.container {
  /* mobile screen */
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    /* tablet */
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 52px;
  }
}
