.backdrop {
    position: fixed;
    /* z-index: var(--modal-indx); */

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #ffffff;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 335px;
    min-height: 1073px;
}

.close-modal {}