/* div */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    transition: opacity 250ms linear, visibility 250ms linear;
    background-color: rgba(20, 20, 20, 0.4);
    backdrop-filter: blur(1.3px);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* div */
.modal {
    max-width: 335px;
    max-height: 700px;
    width: 100%;
    padding: 40px 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    overflow-y: auto;

    background-color: #ffffff;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%);
    opacity: 0;
}

@media only screen and (min-width: 768px) {
    .modal {
        display: flex;
        gap: 20px;
        max-width: 744px;
        padding: 40px;
    }
}

@media only screen and (min-width: 1280px) {
    .modal {
        display: flex;
        gap: 40px;
        max-width: 904px;
        padding: 40px;
    }
}

/* button */
.close-modal {
    position: absolute;
    top: 12px;
    right: 12px;

    background: #ffffff;
    border: none;
}

/* picture */
.modal-clock-pic {
    margin-bottom: 14px;

    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .modal-clock-pic {
        width: 276px;
    }
}

.modal-clock-text {
    padding-left: 10px;
    padding-right: 10px;
}

/* h3 */
.modal-wind-title {
    font-weight: 400;
    margin-bottom: 4px;
}

/* p */
.modal-wind-cost {
    display: block;

    font-weight: 400;
    font-size: 12px;

    color: rgba(20, 20, 20, 0.5);
}

/* form */
.modal-wind-form {
    margin-top: 40px;
}

@media only screen and (min-width: 768px) {
    .modal-wind-form {
        margin-top: 0;
    }
}

/* div */
.modal-wind-field {
    margin-bottom: 18px;
}

/* label */
.modal-wind-label {
    display: block;
    margin-bottom: 12px;

    font-weight: 400;
}

/* input */
.modal-wind-input {
    width: 100%;
    height: 42px;
    padding: 12px 16px;

    outline: transparent;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
}

/* textarea */
.modal-wind-text {
    width: 100%;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;

    letter-spacing: -0.02em;

    resize: none;
    outline: transparent;

    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
}

/* button */
.btn-sub {
    width: 100%;
    height: 50px;

    background: #1E2827;
    border-radius: 8px;

    color: #ffffff;
    border: transparent;

    margin-bottom: 12px;
}

.btn-sub:hover,
.btn-sub:focus {
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* span */
.modal-wind-desc {
    color: rgba(20, 20, 20, 0.4);
    font-size: 12px;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .modal-wind-desc {
        text-align: start;
    }
}

/* a */
.modal-wind-link {
    text-decoration: underline;
}