
/* =========================== OVERLAY ============================ */

.cat-list-link-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 14px;
}

.overflov {
    position: absolute;
    left: 32px;
    top: 40px;
    left: 0;
    top: 0;
    /* padding: 20px 10px; */
    padding-left: 40px;
    padding-top: 40px;
    color: #FFFFFF;
    background-color: var(--color-dark-green);
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    transform: translate(-101%, 0);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 8px;
}

@media only screen and (min-width: 1280px) {
    .overflov {
        padding-left: 20px;
        padding-top: 20px;
    }
}

.link-hover {
    display: block;
    transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-hover:hover .overflov,
.link-hover:focus .overflov {
    transform: translate(0, 0);
}

.over-descrip {
    text-align: left;
    color: var(--color-white);
    padding-bottom: 4px;
}

/* .over-des {
    font-size: 14px;
} */

.over-descript-second {
    text-align: left;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.5);
    max-width: 236px;
}

/* =========================== /OVERLAY ============================ */

/* =========================== CATALOG DESIGN ============================ */

.catalog-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    color: var(--color-dark-green);
    text-align: left;
    offset: 0px, 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}

.catalog-describe {
    max-height: 18px;
    overflow: hidden;
    line-height: 1.29;
    color: var(--color-black);
    text-align: left;
}

.catalog-price {
    font-size: 12px;
    line-height: 1.6;
    color: rgba(20, 20, 20, 0.5);
    text-align: left;
}




.catalog-sect {
    background-color: var(--color-white);
    /* margin: 40px 0; */
}

.catalog-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 43px 32px;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .catalog-menu {
        gap: 24px;
    }
}

@media only screen and (min-width: 1280px) {
    .catalog-menu {
        gap: 64px 24px;
    }
}

.catalog-item {
    max-width: 336px;
    background-color: var(--white-color);
}

@media only screen and (min-width: 768px) {
    .catalog-item {
        width: calc((100% - 1 * 24px) / 2);
    }
}

@media only screen and (min-width: 1280px) {
    .catalog-item {
        width: calc((100% - 3 * 24px) / 4);
    }
}

.catalog-img {
    margin-bottom: 43px;
    
}

/* =========================== /CATALOG DESIGN ============================ */


/* =========================== BUTTON CATALOG ============================ */


.catalog-button {
    font-size: 12px;
    line-height: 1, 16;
    text-align: center;
    color: var(--color-white);

    display: block;
    margin-left: auto;
    background-color: #1E2827;
    border: none;
    width: 122px;
    height: 50px;
    border-radius: 8px;
    padding: 18px 35px 18px 35px;
    margin-top: 40px;
}

@media only screen and (min-width: 1280px) {
    .catalog-button {
        margin-right: 132px;
        margin-bottom: 80px
    }
}

/* =========================== /BUTTON CATALOG ============================ */


/* =========================== PHOTO DEKSTOP 9-12 ============================ */

@media only screen and (max-width: 1280px) {
    .hid {
        display: none;
    }
}

/* =========================== /PHOTO DEKSTOP 9-12 ============================ */