.footer {
  background-color: var(--color-dark-green);
  color: var(--color-white);
  font-weight: 400;
}

.footer-logo {
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    width: 50px;
    height: 50px;
  }
}
.contact-list {
  max-width: 141px;
}
@media only screen and (min-width: 768px) {
  .contact-list {
    max-width: 181px;
  }
}
.contact {
  min-width: 175px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .contact {
    font-size: 18px;
  }
}
.contact-list-item:not(:last-child) {
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .contact-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.footer-content-thumb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media only screen and (min-width: 768px) {
  .footer-content-thumb {
    max-width: 398px;
    gap: 136px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-content-thumb {
    min-width: 645px;
  }
}
.footer-all-items-thumb {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .footer-all-items-thumb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 152px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-all-items-thumb {
    margin-bottom: 174px;
  }
}
.logo-adress-thumb {
  max-width: 141px;
}
@media only screen and (min-width: 768px) {
  .logo-adress-thumb {
    max-width: 181px;
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .footer-menu {
    gap: 18px;
  }
}
.footer-menu-li {
  max-width: 63px;
}
@media only screen and (min-width: 768px) {
  .footer-menu-li {
    max-width: 81px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-menu-li {
    max-width: 115px;
  }
}
.footer-menu-item:hover,
.footer-menu-item:focus {
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 767px) {
  .footer-menu-item:hover,
  .footer-menu-item:focus {
    letter-spacing: -0.02em;
  }
}
.footer-menu-item {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .footer-menu-item {
    font-weight: 400;
    font-size: 18px;
  }
}

.footer-sotial-box {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-sotial-box {
    width: 44px;
    height: 44px;
  }
}

.social-list {
  display: flex;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .social-list {
    gap: 16px;
  }
}
.rights {
  margin-bottom: 14px;
}
.conditions {
  display: flex;
  gap: 14px;
  color: #c6cdd1;
  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .conditions {
    gap: 18px;
  }
}
.rights,
.condition {
  color: var(--color-footer);
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .footer-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
}
