.footer {
  background-color: var(--color-dark-green);
  color: var(--color-white);
  font-weight: 400;
}
.footer-wrapper {
}
.footer-content-thumb {
  display: flex;
  margin-bottom: 35px;
}

.footer-logo {
  margin-bottom: 40px;
}
.social {
}

.social-list {
  display: flex;
  gap: 14px;
  margin-bottom: 80px;
}
.rights {
  margin-bottom: 14px;
}
.conditions {
  display: flex;
  gap: 14px;
  color: #c6cdd1;
}
