.hero {
  background-color: var(--color-black);
  padding-top: 70px;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
  }
}

.hero-title {
  margin-bottom: 60px;

  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: var(--color-white);
}

@media only screen and (min-width: 738px) {
  .hero-title {
    font-size: 60px;
    line-height: 1.03;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    margin-bottom: 43px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.swiper {
  max-width: 266px;
  margin-left: 0;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .swiper {
    max-width: 436px;
  }
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-slide {
  background-color: var(--color-dark-green);
}

.swiper-slide-img {
  margin: 0 auto;
}

.swiper-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.swiper-buttons {
  display: flex;
  gap: 12px;
}

.swiper-btn {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;

  color: var(--color-white);
  border: none;
  background-color: transparent;
}

.swiper-btn.swiper-button-disabled {
  color: rgba(255, 255, 255, 0.5);
}

.swiper-btn-icon {
  fill: transparent;
  stroke: currentColor;
}

.swiper-pagination {
  position: static;

  display: flex;
  width: 74px;

  --swiper-pagination-color: var(--color-white);
  --swiper-pagination-fraction-color: var(--color-white);
}

.swiper-pagination-current {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-current::after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 1px;
  margin: 0 6px;

  background-color: var(--color-white);
}

.hero-desc {
  width: 248px;
  margin-left: auto;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

@media only screen and (max-width: 767px) {
  .hero-desc {
    margin-bottom: 40px;
  }
}
