.hero {
  background-color: var(--color-black);
  padding-top: 70px;
}

.hero-title {
  margin-bottom: 60px;

  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: var(--color-white);
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-buttons {
  display: flex;
  margin-bottom: 40px;
}

.swiper-btn {
  display: block;
  border: none;
  background-color: transparent;
}

.swiper-btn-icon {
  fill: transparent;
  stroke: var(--color-white);
}

.swiper-pagination {
  position: static;
  --swiper-pagination-color: var(--color-white);
  --swiper-pagination-fraction-color: var(--color-white);
}

.hero-desc {
  margin-bottom: 40px;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-white);
}
