/**
  |============================
  | section New watches
  |============================
*/


.new-watches-title {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.06em;
    color: rgba(20, 20, 20, 0.4);
}

.new-watches-description {
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 32px;
    line-height: calc(40/32);
    letter-spacing: -0.02em;
    
    color: var(--color-black);
}

@media only screen and (min-width: 768px) {
  .new-watches-description {
    width: 448px;

    font-size: 40px;
    line-height: calc(44/40);
  
    color: var(--color-dark-green);
  }
}

@media only screen and (min-width: 1280px) {
  .new-watches-description {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .new-watches-list {
    display: flex;
    gap: 20px;

  }
}

@media only screen and (min-width: 1280px) {
  .new-watches-list {
    gap: 24px;

  }
}

@media only screen and (max-width: 767px) {
  .new-watches-list .item:not(:last-child) {
      margin-bottom: 20px;
  } 
}

.new-watches-list .item {
    max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .new-watches-list .item {
    max-width: 342px;
    flex-basis: calc((100% - 20px)/2);
  }
}

@media only screen and (min-width: 1280px) {
  .new-watches-list .item {
    max-width: 576px;
    flex-basis: calc((100% - 24px)/2);
  }
}





/**
  |============================
  | /section New watches
  |============================
*/