/**
  |============================
  | section New watches
  |============================
*/
.new-watches {}

.container {}

.new-watches-title {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.06em;
    color: rgba(20, 20, 20, 0.4);
}

.new-watches-description {
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 32px;
    line-height: calc(40/32);
    letter-spacing: -0.02em;
    
    color: var(--color-black);
}

.new-watches-list {

}

.new-watches-list .item:not(:last-child) {
    margin-bottom: 20px;
}


/**
  |============================
  | /section New watches
  |============================
*/