/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./catalog.css');
@import url('./new-watches.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./buy-now-popup.css');
@import url('./burger-menu.css');

:root {
  --color-dark-green: #1e2827;
  --color-black: #141414;
  --color-white: #ffffff;

  --modal-indx: 1000;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);

  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(18 / 14);

  letter-spacing: -0.02em;

}

.container {
  /* mobile screen */
  max-width: 375;
  padding: 0 20px;
  margin: 0 auto;
  outline: 1px solid red;
}

.section {
  /* mobile section */
  padding-top: 40px;
  padding-bottom: 40px;
}