/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./animations.css');
@import url('./base.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./catalog.css');
@import url('./new-watches.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./buy-now-popup.css');
@import url('./burger-menu.css');





